@page "/courselist"


<div class="row mt-4">

    <div class="col-3">

        <h5>Course List</h5>

    </div>

    <div class="col-3">

        <NavLink href="/createorupdate" class="btn btn-success">Course Add</NavLink>

    </div>
</div>